/knownkeys.txt
/.fabric
/.idea
/crash-reports
/data
/fancymenu_data
/local
/logs
/mods
/saves
/schematics
/screenshots
/server-resource-packs
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/emi.json
/heracles_options.json
/irisUpdateInfo.json
/observable_announce
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/icon.png
/config/spark/tmp